body {
    background-color: rgb(189, 119, 162);
    max-width: max-content;
    margin: auto;
    margin: 10%;
}


h1{
    text-align: center;
}

.intro {
    text-align: center;
    font-size: 28px;
}

img{
    border: 5px solid #555;
    height: auto;
    width: 200;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.link {
    background-color: rgb(6, 8, 6);
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}